*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =================
Root Variable
====================== */







/* ==============
Service Section
=================== */
.serviceSec{
    position: relative;
    height: 100%;

    background: url(./img/next_step_bg.png) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(255, 255, 255, 0.809);
    background-blend-mode: lighten;
    overflow: hidden;
    z-index: 1;
}
.hbox{
    background-color: #f5d7ceae;
    color: #ff4a17;
}
.secCon::before{
    content: url(./img/ab-shape-1.png);
    position: absolute;
    top: 86px;;
    right: 50px;
     animation: icon 3s ease-in-out infinite;
    z-index: -1;
    
}
@keyframes icon {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translatex(-15px);
    }
}

.serviceSec::after{
    content: url(./img/shape-1.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 112px;
    left: 0;
    opacity: 0.2;
    z-index: -1;
}

.smBtn{
    border: 1px solid wheat;
   background:white;
   transition: all .3s ease-in-out;
  color: rgba(0, 0, 0, 0.911);
   font-size:medium;
   
}
.smBtn:hover{
   
    color: white;
    background: linear-gradient(90deg,rgba(255, 55, 0, 1) 0%, rgba(255, 118, 38, 1) 57%, rgba(255, 140, 0, 1) 100%);
    border-color: #ff4a17;
}


/* Boxes */

.box{
    
    background:#81a3d0;
    transition: all 0.3s ease-in-out;
    /* opacity: 0.8; */

}

.smText{

    font-size: .8rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.653);
}
.box h4{
    font-size: 20px;
    color: black;
}
.circle{
    position: absolute;
    top: -35px;
    width: 5rem;
    height: 5rem;
   
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    
    
}
.arrow{
    color: rgba(0, 0, 0, 0.801);
}

.arrowRight{
    transition: all 0.3s ease-in-out;
}
.arrowDown{
    transition: all 0.3s ease-in-out;
}
/* box 1 */
.box1{
    background-color: hsl(55, 90%, 67%);
}
.circle1{
    background-color: #eab308 ;
    color: rgb(255, 255, 255);
    border: 3px solid beige;


}
.boxx:hover .circle1{
     box-shadow: 3px 3px 26px 6px rgb(0, 0, 0);
     color: rgb(255, 255, 255);
     border: #582ddb;
}

/* Box 2 */
.box2{
    background-color: #16a34abd;
}
.circle2{
    background-color: #16a34a ;
    color: beige;
    border: 3px solid beige;


}
.boxx:hover .circle2{
     box-shadow: 3px 3px 26px 6px black;
     border: #001d08;
}

/* Box 3 */
.box3{
    background-color: #9dc1f1;
}
.circle3{
    background-color: #2563eb ;
    color: beige;
    border: 3px solid beige;


}
.boxx:hover .circle3{
     box-shadow: 3px 3px 26px 6px #00000082;
     border: #81a3d0;
}
/*  Box 4 */

.box4{
    background-color: #ff6200ba;
}
.circle4{
    background-color: #FF6200;
    color: beige;
    border: 3px solid beige;


}
.tab-pane {
    transition: all 0.5s ease-in-out;
}
.active >.smBtn{

    color: white;
    background: linear-gradient(90deg,rgba(255, 55, 0, 1) 0%, rgba(255, 118, 38, 1) 57%, rgba(255, 140, 0, 1) 100%);
    border-color: #ff4a17;
}
.boxx:hover .circle4{
     box-shadow: 3px 3px 26px 6px #00000082;
     border: #ff4a17;
}


/* Hover */
.box:hover {
    opacity: 1;
    transform: translateY(-20px);
    /* box-shadow: 0 20px 30px rgba(0, 0, 0, 0.408); */
}

.boxx:hover .arrowRight{
 transform: translateX(5px);
   
}

.boxx:hover .arrowDown{
 transform: translateY(5px);
   
}
.boxx:hover .circle{
 transform: translateY(2px) ;
 
}
/*flexBox */

.primaryBtn{
    padding: .5rem 1.5rem;
    background-color: #ff4a17;
    color: white;
    border: none;
    border-radius:5px ;
    transition: all .2s ease-in-out;
    
}


/* --responsive--- */
@media (max-width:800px) {
 
  .secCon::before{
    content: url(./img/ab-shape-1.png);
    position: absolute;
    top: 40px;;
    right: -15px;
     animation: icon 3s ease-in-out infinite;
    z-index: -1;
    
}

.box{
    width: 100%;
}
.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);

}

    
    
}










.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #001d08;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}




/* for practice test */

